{% extends "base.html" %}

{% block title %}Ingress Mods{% endblock title %}

{% block content %}
    <div class="weapon">
    <h3 style="color: #2aabd2; font-style: italic; font-weight: bold" >Мод</h3>
      <p style="font-size: 18px"><span style="font-weight: bold">Мод</span> (Портальный модификатор, англ. mod) — специальный предмет,
          который используется для улучшения портала. У каждого портала есть 4 ячейки для модов,
          в каждый из которых можно установить только 1 мод.
          Один игрок без перекрашивания может установить в один портал не более двух модов.  </p>
    <h4 style="color: #2aabd2; font-size: 22px">Степень редкости:</h4>
      <p style="font-size: 18px; padding-left: 5px">Моды делятся по степени редкости (рарности, от англ. "rare").
          Каждой степени соответствует определённый цвет. </p>
      <ul style="margin-left: 40px">
        <li style="background-color: green; font-weight: bold; width: 125px">Частый(common)</li><br>
        <li style="background-color: darkslateblue; width: 150px; font-weight: bold">Редкий(рарный,rare)</li><br>
        <li style="background-color: violet; font-weight: bold; width: 225px">Очень редкий(вр-ный,very rare)</li><br>
      </ul>
        <p style="font-size: 14px; margin-left: 40px">Как нетрудно догадаться, этот параметр показывает,
            какова вероятность получить тот или иной мод при взломе портала. Также это говорит об их эффективности:
            наиболее эффективными являются очень редкие моды и наоборот.</p>
    <h4 style="color: #2aabd2">Типы модов</h4><br>
    <h6 style="font-size: 24px">Щит портала</h6>
      <p style="font-size: 18px; margin-left: 40px"><span style="font-weight: bold"> Щит портала</span> (шилд, щит, портальный щит, англ. Portal Shield, сокр. PS)
          — самый часто используемый мод. Нужен для защиты портала от вражеских атак посредством смягчения урона для резонаторов.
          Имеет брендированную версию — Щит AXA. </p>
    <h6 style="font-size: 24px">Усилитель связи</h6>
      <p style="font-size: 18px; margin-left: 40px"><span style="font-weight: bold"> Усилитель связи</span> (линк амп, лампа, лампочка, англ. Link Amp, сокр. LA) —
          мод для увеличения дальности линков, брошенных с портала. Имеет брендированную версию — Суперсвязь SoftBank.  </p>
    <h6 style="font-size: 24px">Радиатор</h6>
      <p style="font-size: 18px; margin-left: 40px"><span style="font-weight: bold"> Радиатор</span> (хитсинк, англ. Heat Sink сокр. HS)
          — уменьшает время между взломами портала. К тому же, для установившего сбрасывает счётчик количества взломов за 4 часа.</p>
    <h6 style="font-size: 24px">Взломщик</h6>
      <p style="font-size: 18px; margin-left: 40px"><span style="font-weight: bold"> Взломщик</span> (мультихак, англ. Multi-Hack, сокр. MH)
          — увеличивает количество возможных взломов портала одним агентом за 4 часа (количество взломов, прежде чем портал перегреется).</p>
    <h6 style="font-size: 24px">Усилитель</h6>
      <p style="font-size: 18px; margin-left: 40px"><span style="font-weight: bold"> Усилитель</span> (форсамп, англ. Force Amp, сокр. FA)
          — защитный мод, увеличивает силу контратаки портала.</p>
    <h6 style="font-size: 24px">Турель</h6>
      <p style="font-size: 18px; margin-left: 40px"><span style="font-weight: bold"> Турель</span> (орудийная башня, башенка, англ. Turret, сокр. T)
          — защитный мод, увеличивает частоту (и немного — силу) контратаки портала.</p><br>
    <!--<table id="modstable">
        <col width="100%" style="float: left; margin-left: 40px">
        <tr style="background: #2e6da4; color: #0f0f0f; height: 35px">
          <th>Название</th><th>Сокращение</th>
          <th>Краткое описание</th><th>Частый</th>
          <th>Редкий</th><th>Очень редкий</th>
          <th>Внешний вид</th>
        </tr>
        <tr><td>Portal Shield</td><td>PS</td><td>Уменьшает получаемый резонаторами урон</td><th>-30%</th><th>-40%</th><th>-60%</th><td><img src="../static/images/mods/100px-Shield.png"></td></tr>
        <tr><td>AXA Shield</td><td>AXA</td><td>Уменьшает получаемый резонаторами урон </td><th>-</th><th>-</th><th>-70%</th><td><img src="../static/images/mods/100px-AXA.png"></td></tr>
        <tr><td>Link AMP</td><td>LA</td><td>Увеличивает максимальную дальность линка </td><th>-</th><th>+100%</th><th>+600%</th><td><img src="../static/images/mods/100px-Link_Amp.png"></td></tr>
        <tr><td>SoftBank Ultralink</td><td>SBUL</td><td>Увеличивает максимальную дальность линка и максимальное количество исходящих линков</td><th>-</th><th>-</th><th>+400%(+8 исходящих линков)</th><td><img src="../static/images/mods/100px-SoftBankUltraLink.jpg"></td></tr>
        <tr><td>Heat Sink</td><td>HS</td><td>Уменьшает время между двумя повторными взломами, единовременно сбрасывает бёрнаут портала для установившего</td><th>-20%</th><th>-50%</th><th>-70%</th><td><img src="../static/images/mods/100px-Heat_Sink.png"></td></tr>
        <tr><td>Multi Hack</td><td>MH</td><td>Увеличивает количество взломов портала игроком перед его перегревом </td><th>+4</th><th>+8</th><th>+12</th><td><img src="../static/images/mods/100px-Multi-hack.png"></td></tr>
        <tr><td>Force AMP</td><td>FA</td><td>Увеличивает силу ответной атаки порталом</td><th>-</th><th>+100%</th><th>-</th><td><img src="../static/images/mods/100px-Force_Amp.png" </td></tr>
        <tr><td>Turret</td><td>T</td><td>Увеличивает частоту ответной атаки порталом</td><th>-</th><th>x2 частота атаки +30% сила атаки </th><th>-</th><td><img src="../static/images/mods/100px-Turret.png" </td></tr>
    </table>-->
        {% for mod in mods_list %}
      <p>{{ mod.name }}</p>
      {% endfor %}
    <h6 style="font-size: 24px">Установка мода</h6>
      <p style="font-size: 18px; margin-left: 40px">Как и для любого действия (кроме подзарядки), игроку необходимо находиться в зоне доступа портала.
          Чтобы установить мод, необходимо, чтобы портал принадлежал фракции игрока, у портала должен быть свободный слот,
          а у игрока — достаточно XM для установки мода (400/800/1000 ХМ в зависимости от редкости мода). Установленный мод нельзя поменять.
          Например, если кто-то поставил на важный портал самые простые щиты, вы уже не сможете их усилить.
          Если на портале стоит хотя бы два мода игрока, то он уже не сможет поставить ещё один. </p><br>
    <h6 style="font-size: 24px">Применение</h6>
      <p style="font-size: 18px; margin-left: 40px">Самые востребованные моды - это Portal Shield, Multi-Hack и Heat Sink.
          Первый собственно ставится для усложнения жизни врагам, а второй и третий ставят вместе как правило на ферму порталов для фарма, либо на «рабочие/домашние» порталы игроков.
          Моды с определенной вероятностью разрушаются во время атаки на портал (при критическом попадании по моду).
          После полного уничтожения всех портальных резонаторов все моды также автоматически будут уничтожены.
          Рарные и более редкие щиты во время атаки держатся дольше, чем прочие моды (после изменений весной 2016 года турели,
          возможно, стали наравне с редкими щитами по прочности) из-за эффекта прилипания, остальные же моды уничтожаются при первом полученном критическом попадании.
          Все моды кроме щитов работают по принципу постепенно убывающей эффективности при установке более 1 мода одного типа
          (к примеру, 1 Link Amp дает x2 к дальности линка, а 4 таких же мода, установленные в один портал, в сумме дадут x3).
          При использовании модов одного типа, но разной степени редкости, полностью будет работать один самый редкий,
          воздействие остальных обычно уполовинивается (исключение: для Link Amp мощность действия 3 и 4 будет ослаблена
          вчетверо, для Force Amp и Turret мощность 2 ослаблена вчетверо, мощность 3 и 4 — в восемь раз).
          Link Amp, как правило, нужен только для создания междугородних линков, так что используется редко.
          Turret и Force Amp ставятся также для защиты, но, в отличие от шилдов, в активной форме. Например, вот что будет, если их воткнуть на ферму.
          Вот ущерб, что вражеский портал может причинить к вам, во время атаки или звлома: </p><br>
    <h6 style="font-size: 24px">Энергетическая ценность</h6>
      <p style="font-size: 14px; margin-left: 40px">Переработка даёт 40/80/120ХМ в зависимости от степени редкости мода.
    </div>
{% endblock content %}